simple/target
simple/.idea
simple/.classpath
simple/.factorypath
simple/.project
simple/simple.iml
simple/.settings/org.eclipse.core.resources.prefs
simple/.settings/org.eclipse.jdt.apt.core.prefs
simple/.settings/org.eclipse.jdt.core.prefs
simple/.settings/org.eclipse.m2e.core.prefs
mongodb/target
mongodb/.settings/org.eclipse.core.resources.prefs
mongodb/.settings/org.eclipse.jdt.apt.core.prefs
mongodb/.settings/org.eclipse.jdt.core.prefs
mongodb/.settings/org.eclipse.m2e.core.prefs
.classpath
.project
mongodb/.idea
*.iml
.factorypath
